# Jekyll
_site
.sass-cache/
.jekyll-cache

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
local/
classes/

# Gradle bits from: https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
build/
out/
.gradletasknamecache

# Linux/GIMP
**/.directory

# Local & Tmp files
local/
tmp/
