---
layout: default
title: Prices
---
<p>
    The following services are available:
<dl>
    <dt>
        Pick Up
    </dt>
    <dd>
        We will come to your home or Office and pick up any deceased pet up to 99 pounds as part of our cremation
        services.<br>
        Any pet 100 pounds and over will be $300.00 Private Cremation.
    </dd>
    <dt>
        Delivery
    </dt>
    <dd>
        We will deliver the pet remains back to the home or Office in your selected urn within 48 hours of pick up.
    </dd>
    {% for type in site.data.prices %}
    <dt>
        {{ type.name }} Cremation
    </dt>
    <dd>
        {{ type.description }}<br/>
    </dd>
    {% endfor %}
    <dt>
        Service Selection
    </dt>
    <dd>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8C7XT3MJU9DLS">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="on0" value="Cremation Services">
            <table>
                <tr><td align="center">
                    <select name="os0">
                        {% for type in site.data.prices %}
                        <option value="{{ type.name }}">{{ type.name }} ${{ type.dollars }}.00 USD</option>
                        {% endfor %}
                    </select>
                </td></tr>
                <tr><td align="center">
                    <input type="image" border="0" name="submit"
                           src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
                           alt="PayPal - The safer, easier way to pay online!">
                </td></tr>
            </table>
            <img alt="" border="0" width="1" height="1"
                 src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
        </form>
    </dd>
    <dt>
        Certificate of Cremation<br>
        With Private & Individual
    </dt>
    <dt>
        <img src="/img/certificate.png" alt="Certificate">
    </dt>
    </dd>
    <dt>
    </dd>
    <dt>
        Crematory Operator<br>
        William D Bradley<br>
        Certificate #06334-BL-OP2
    </dt>
    <dt>
    </dd>
</dl>
</p>
