---
layout: default
title: Prices
---
<p>
    The following services are available:
<dl>
    <dt>
        Pick Up
    </dt>
    <dd>
        We will come to your home or office and pick up any deceased pet up to 99 pounds as part of our cremation services.<br/>
        Any pet 100 pounds and over will need to be a Private Cremation.<br/>
        {% for type in site.data.fees %}
            {{ type.description }}<br/>
        {% endfor %}
    </dd>
    <dt>
        Delivery
    </dt>
    <dd>
        We will deliver the pet remains back to your home or office in your selected urn within 48 hours of pick up.<br/>
        With all Private and Individual Cremations, the remains are returned to the pet owner in a wood urn at a minimal cost.<br/>
        The remains from all Communal Cremations are disposed of humanely and are NOT returned to the pet owner.
    </dd>
    {% for type in site.data.prices %}
    <dt>
        {{ type.name }} lbs Cremation
    </dt>
    <dd>
        {{ type.description }}<br/>
    </dd>
    {% endfor %}
    <dt>
        Service Selection
    </dt>
    <dd>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8C7XT3MJU9DLS">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="on0" value="Cremation Services">
            <table>
                <tr>
                    <td align="center">
                        <select name="os0">
                            {% for type in site.data.prices %}
                            <option value="{{ type.name }}">{{ type.name }} lbs ${{ type.dollars }}.00 USD</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="image" border="0" name="submit"
                               src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
                               alt="PayPal - The safer, easier way to pay online!">
                    </td>
                </tr>
            </table>
        </form>
    </dd>
    <dt>
        Oversize Costs
    </dt>
    <dd>
        For 151-300 lbs, call for pricing.
    </dd>
    {% for type in site.data.fees %}
    <dt>
        {{ type.name }} Fee
    </dt>
    <dd>
        {{ type.description }}<br/>
    </dd>
    {% endfor %}
    <dt>
        Additional Fees
    </dt>
    <dd>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="ZPLVXPLTPMWMY">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="on0" value="Additional Fees">
            <table>
                <tr>
                    <td align="center">
                        <select name="os0">
                            {% for type in site.data.fees %}
                            <option value="{{ type.name }} Fee">{{ type.name }} Fee ${{ type.dollars }}.00 USD</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="image" border="0" name="submit"
                               src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
                               alt="PayPal - The safer, easier way to pay online!">
                    </td>
                </tr>
            </table>
        </form>
    </dd>
    <dt>
        Certificate of Cremation<br/>
        With Private & Individual
    </dt>
    <dd>
        <img src="/img/certificate.png" alt="Certificate">
    </dd>
    <dt>
        Crematory Operator<br/>
        William D Bradley<br/>
        Certificate #06334-BL-OP2
    </dt>
    <dd>
    </dd>
</dl>
</p>
