<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        Bill's Pet Cremation Services - {{ page.title }}
    </title>
</head>
{% include navigation.html %}
<body>
<p class="header">
    <header>
        Serving the Coastal Bend and South Texas.<br/>
        Call: 1-361-205-0463<br/>
        Pet Pick-up For Cremation Service
    </header>
</p>
<p>
    <a><img src="/img/buscard.png" alt="Bill's Pet Cremation Services"></a>
</p>
{{ content }}
<p class="footer">
    <footer>
        Copyright 30Nov2019<br/>
        by CoffeeHouse Consultants
    </footer>
</p>
</body>
</html>
